@import "../../common/colors.scss";

.movie-title{
    font-size: 20px;
    color: $font-primary;
    display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;
flex-wrap: wrap;
}

.movie-data{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.movie-data > div{
    font-size: 20px;
    color: $font-primary;
    display: flex;
    flex-direction: row;
    // justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.movie-data > div span:last-child{
    color: aqua;
    padding-left: 20px;

}

.section-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}
